In [88]:
# Import dependencies
import pandas as pd
import gmaps
import gmaps.datasets
from config import g_key

In [89]:
# Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [20]:
# Import the weatherpy_vacation csv file as a dataframe
vacation_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_data_df

,City ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Coquimbo,CL,62.60,clear sky,-29.95,-71.34,Hotel San Juan
1,6,Rikitea,PF,76.86,broken clouds,-23.12,-134.97,Pension Maro'i
2,7,Castro,BR,73.47,clear sky,-24.79,-50.01,CHACARA BAILLY
3,8,Mahajanga,MG,78.80,few clouds,-15.72,46.32,Restaurant Greedy Coco Lodge Majunga
4,9,Barreiro,PT,61.00,few clouds,38.66,-9.07,Residencial Principe Guest House
...,...,...,...,...,...,...,...,...
162,549,Saint Andrews,US,75.99,scattered clouds,34.05,-81.13,Baymont by Wyndham Columbia Northwest
163,550,Pathein,MM,74.37,clear sky,16.78,94.73,Pathein Hotel
164,557,Viseu,PT,61.00,clear sky,40.66,-7.91,Montebelo Viseu Congress Hotel
165,559,Rio Gallegos,AR,60.80,clear sky,-51.62,-69.22,Hotel Santa Cruz
166,561,Antequera,ES,62.60,few clouds,37.02,-4.56,Hotel MM Antequera (anterior Hotel Las Villas)

In [21]:
### Choose four cities to travel to

# 1. Avera, Georgia, US
# 2. Saint Andrews, South Carolina, US
# 3. Lumberton, North Carolina, US
# 4. Havelock, North Carolina, US

In [76]:
# Create dataframe for each city
avera_df = vacation_data_df.loc[vacation_data_df["City"] == "Avera"]
st_andrews_df = vacation_data_df.loc[vacation_data_df["City"] == "Saint Andrews"]
lumberton_df = vacation_data_df.loc[vacation_data_df["City"] == "Lumberton"]
havelock_df = vacation_data_df.loc[vacation_data_df["City"] == "Havelock"]

In [118]:
# Get the lat and longitude combinations for each city
avera = list(avera_df[["Lat", "Lng"]].itertuples(index=False, name=None))
st_andrews = list(st_andrews_df[["Lat", "Lng"]].itertuples(index=False, name=None))
lumberton = list(lumberton_df[["Lat", "Lng"]].itertuples(index=False, name=None))
havelock = list(havelock_df[["Lat", "Lng"]].itertuples(index=False, name=None))

In [120]:
# Create a map with the directions
fig = gmaps.figure()
avera_to_havelock = gmaps.directions_layer(avera[0], havelock[0], waypoints=[st_andrews[0], lumberton[0]], travel_mode="DRIVING")
fig.add_layer(avera_to_havelock)
fig

Figure(layout=FigureLayout(height='420px'))

In [168]:
# Create a new dataframe with the four cities
cities_df = pd.concat([avera_df, st_andrews_df, lumberton_df, havelock_df])
cities_df

,City ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
100,339,Avera,US,75.20,clear sky,33.19,-82.53,NaN
162,549,Saint Andrews,US,75.99,scattered clouds,34.05,-81.13,Baymont by Wyndham Columbia Northwest
14,32,Lumberton,US,73.99,clear sky,34.62,-79.01,"Country Inn & Suites by Radisson, Lumberton, NC"
138,480,Havelock,US,71.60,clear sky,34.88,-76.90,Holiday Inn Express and Suites Havelock

In [169]:
# Replace the NaN value with a blank value
cities_df = cities_df.fillna("No Hotel Found")
cities_df

,City ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
100,339,Avera,US,75.20,clear sky,33.19,-82.53,No Hotel Found
162,549,Saint Andrews,US,75.99,scattered clouds,34.05,-81.13,Baymont by Wyndham Columbia Northwest
14,32,Lumberton,US,73.99,clear sky,34.62,-79.01,"Country Inn & Suites by Radisson, Lumberton, NC"
138,480,Havelock,US,71.60,clear sky,34.88,-76.90,Holiday Inn Express and Suites Havelock

In [170]:
### Create a marker map with the four cities

In [171]:
# Create the info box template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} \u00b0F</dd>
</dl>
"""

# Store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in cities_df.iterrows()]

In [172]:
# Create a map with pop-up markers for each city
locations = cities_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))